@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');

* {
    box-sizing: border-box;
}

/*STYLE OVERVIEW*/
/*color scheme*/
:root {
    --white: #FFFFFF;
    --black: #000000;

    --red-orange: #e6563b;
    --orange: #cea03d;
    --green: #7cb06c;
    --emerald: #00aba9;
    --off-white: #f0f0f0;
    --gray: #e6e6e6;
}

body {
    font-family: 'Abel', sans-serif;
    font-size: 0.75rem;
    background-color: #f0f0f0;
}
/*font sizes
header font
 */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
}

/*header font-sizes*/
h1 {
    font-size: 50px;
    font-weight: 300px;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 0.75rem;
}

.row {
    margin: 0;
}

/*header*/
header nav .logo {
    background-color: #f0f0f0;
    height: auto;
    margin: auto;
}

header nav image{
    width: auto;
    margin: auto;
    z-index: auto; /*need to get white line in there, don't know how*/
}

a {
    color: #008080;
}
/*section uno*/
.container .circle {
    width: 105px;
    height: 105px;
    color: white;
    border: 4px solid white;
}

/* circles*/
.design {
    background-color: #e6563b;
}

.develop {
    background-color: #dea03d;
}

.support {
    background-color: #7cb06c;
}

.host {
    background-color: #00aba9;
}


/*main*/
.title {
    margin: 5rem 0 2rem 0;
    font-size: 1.1rem;
}
.card {
    background-color: #f0f0f0; /*white*/
    box-sizing: content-box /*!important;*/
}
.card-img-top {
    border: 5px solid #e6e6e6;
    box-sizing: content-box !important;
}
.card-body {
    padding: 0 0 1.25rem 0;
}

.letter {
    width: 18px;
    height: 18px;
    border-radius: 9px;
}

.custom-header {
    line-height: 18px;
    text-align: center;
}

.side {
    display: flex;
    margin-bottom: 1rem;
}

.sideImage {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    border: 2px solid #e6e6e6;
    border-radius: 2px;
}

/* the right container */
aside .side h4 {
    font-size: 1.3rem;
}

aside h5 {
    font-size: 1.05rem;
}

aside > p:nth-child(4) {
    font-size: 1rem;
}


/*WIREFRAMES ACCORDING TO THE DEVICE SCREEN SIZE (XS, SM, MD, LG, XL)*/
/*X-Small devices (portrait phones, less than 576px)*/
/*No media query for `xs` as we are taking the mobile-first approach*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .extra-small-logo-only {
        display: none;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .d-md-block {
        width: 768px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .container {
        width: 1440px;
    }
}

/*XX-Large devices (larger desktops, 1400px and up) - DON'T NEED
@media (min-width: 1400px) {

}
*/